.movie {
    padding-left: 80px !important;
    min-height: 80px !important;
}

.movie label {
    width: auto;
}

.movie i {
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    font-style: normal;
}

.movie img {
    margin: 10px;
}

.movie b {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 0.9em;
}

.movie span {
    position: absolute;
    margin-right: 15px;
    font-style: italic;
    font-size: 0.8em;
    bottom: 10px;
}

.movie .data {
    float: left;
    bottom: 0;
    width: 100%;
}

.movie .properties {
    position: absolute;
    /*top: 30px;*/
    right: 12px;
    bottom: 7px;
}

.movie .properties img {
    margin: 0;
    background-image: linear-gradient(#9c9c9c, #3c3c3c);
    border-radius: 5px;
    height: 28px;
}

.sinopsis {
    max-height: 50px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: 0 !important;
}

@media all and (min-width: 650px) {

    .rightColumn {
        width: 56%;
        float: right;
        margin-left: 4%;
    }

    .leftColumn {
        width: 40%;
        float: left;
    }

}

/*=========== Overrides ===========*/

.ui-header .ui-title {
    margin: .6em 0 .8em;
}

.ui-field-contain label.ui-select {
    vertical-align: top;
    display: inline-block;
    margin: 0 2% 0 0;
    white-space: nowrap;
    width: auto;
}

.ui-field-contain .ui-select {
    width: auto;
    display: inline-block;
}

.ui-li-thumb {
    text-overflow: ellipsis;
    overflow: hidden;
}